body{
 background-color: #e5e9ec;   
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.roundtify{
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;

}


.settings-icon{
 background-image:url('../images/icons-gc.png');  
 background-position: -95px -95px;
 height: 34px;
 width: 34px;
 margin-top:-5px;
 }

.focusedInput {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
}

.container-report-mainContent{
height:100%;margin:auto;background-color:#ffffff;border: 1px solid #d6d6d6;margin-top:40px;margin-bottom:50px;padding-bottom:20px;   
}

.nav-addAttr{
 padding-top:15px;   

}

.navigation-formatter{
 height:75px;width:100%;background-color: rgba(255,255,255,1); border-bottom: 3px solid rgba(41, 128, 185, .7);  
-moz-box-shadow:    0px 0px 15px 3px #ccc;
-webkit-box-shadow: 0px 0px 15px 3px #ccc;
box-shadow:         0px 0px 15px 3px #ccc;   
}

.Signed-user{
    margin-top:10px;padding-right:10px;
}
.mech-power-buttons{
 margin-top:2px;   
}

.active-styler{
 color: #fff;
background-color: rgba(52, 73, 94,.7);
border-color: #46b8da;   
}

.active-styler:hover{
 color: #fff;
  
}

 body{
         background-image: url(../images/bg.png);
        background-size:cover;
         background-position: top center;
         background-repeat: no-repeat;
        }


